src/main/mule/myproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eddbb72a-7107-4590-a616-70acf55eb187" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myprojectFlow" doc:id="bca3c94c-9256-4cef-aef8-557a0e8b773d" >
		<http:listener doc:name="Listener" doc:id="82938c98-dcc9-4685-a915-1dc94ec3cccb" config-ref="HTTP_Listener_config" path="/home"/>
		<set-payload value='#["Step 1"]' doc:name="Set Payload" doc:id="77c2abbf-d16f-4ab3-a315-7e5ef70eebfc" />
	</flow>
</mule>
